.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 18px;
  height: 18px;
  display: grid;
  animation: spinner-plncf9 4s infinite;
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  border: 4px solid;
  border-radius: 50%;
  border-color: #ffffff #ffffff #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 1s infinite linear;
}

.spinner::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}

.shapes {
  width: 24.8px;
  height: 24.8px;
  color: red;
  background: conic-gradient(from -45deg at top 22.4px left 50%, #0000, currentColor 1deg 90deg, #0000 91deg),
    conic-gradient(from 45deg at right 22.4px top 50%, #0000, currentColor 1deg 90deg, #0000 91deg),
    conic-gradient(from 135deg at bottom 22.4px left 50%, #0000, currentColor 1deg 90deg, #0000 91deg),
    conic-gradient(from -135deg at left 22.4px top 50%, #0000, currentColor 1deg 90deg, #0000 91deg);
  animation: shapes-q299i1md 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes shapes-q299i1md {
  50% {
    width: 47.19999999999999px;
    height: 47.19999999999999px;
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
